.filter__input {
  height: 25px;
  border: 1px solid antiquewhite;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: antiquewhite;
}

.filter__input:hover {
  border-color: rgb(193, 243, 113);
}
.filter__input:focus {
  outline: 1px solid rgb(193, 243, 113);
}
